body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-height: 1000000px;
  }

  .navbar {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    padding: 10px;
  }

  .navbar a {
    text-decoration: none;
    color: #282828;
    margin-right: 20px;
    background-color: none;
    width: 100px;
    text-align: center;
  }
  .navbar a:last-child {
    margin-right: 0;
  }
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
  }
  h2 {
    margin: 0;
    font-size: 24px;
  }

  .appLink a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007aff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  .appLink a:hover {
    background-color: #0051a8;
  }

  .description {
    font-size: 16px;
    text-align: left;
    word-wrap: break-word;
  }

  .app_icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 10%; 
  }


  .icon_td {
    width: 120px;
    height: 110px;
    vertical-align: top;
  }

  .app_name_td {
    margin-top: 5px;
  }

  @media (min-width: 100px) {
    .description {
      font-size: 16px;
    }
  }